footer {
  background: var(--c-bg-alt);
  display: grid;
  padding: 2.5rem 1.5rem;
  gap: 2rem;

  img:first-of-type {
    width: 8rem;
  }

  img:last-of-type {
    width: 100%;
  }

  a {
    color: var(--c-anchor);
  }

  address {
    display: grid;
    gap: 0.3rem;
  }

  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0;
  }

  nav:last-of-type {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

@media (min-width: 900px) {
  footer {
    grid-template-columns: 1fr 1fr;
    align-items: start;
    padding: 4rem max(var(--gap), calc((100vw - var(--content-max)) / 2));
    gap: 3rem;

    img:last-of-type {
      grid-column: 2;
      grid-row: 1 / span 4;
      object-fit: cover;
      border-radius: var(--br-lg);
      max-height: 28rem;
    }

    nav:last-of-type {
      grid-column: 1;
    }
  }
}
