header {
  nav {
    height: 5rem;
    position: fixed;
    left: 15px;
    right: 15px;
    top: 15px;
    border-radius: var(--br);
    z-index: 10;
    background-color: hsl(272, 10%, 45%, 0.6);
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    backdrop-filter: blur(
      10px
    ); /* Optioneel: maakt de transparante achtergrond mooier */

    img {
      max-width: 5.5rem;
    }

    button {
      background: var(--c-primary);
      color: white;
      padding: 0.5rem;
      border-radius: var(--br);
      z-index: 20;
      border: none;
      cursor: pointer;
    }

    .ul-menu {
      /* Mobiel: standaard verborgen */
      display: none;

      background: var(--c-primary);
      padding: 0 2.5rem 0 1.5rem;
      position: fixed;
      top: -15px;
      left: -15px;
      bottom: 0;
      height: 100vh;
      width: 100vw;
      list-style: none;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;

      /* Toon menu als isOpen true is op mobiel */
      &.is-open {
        display: flex;
      }

      li:last-of-type {
        position: absolute;
        bottom: 20px;
        display: flex;
        width: 100%;
        justify-content: space-around;
        left: 0;

        a {
          font-size: 1rem;
          font-weight: 400;
          width: max-content;
          &::after {
            content: "";
          }
        }
      }

      a {
        text-decoration: none;
        color: var(--c-light);
        width: 100%;
        font-weight: 500;
        font-size: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &::after {
          content: url(../../assets/pictures/chevron-right.svg);
        }
      }
    }
  }
}

/* DESKTOP STYLES */
@media (min-width: 900px) {
  header nav {
    button {
      display: none; /* Weg met die hamburger */
    }

    .ul-menu {
      display: flex !important; /* Altijd tonen op desktop */
      position: static;
      height: auto;
      background: transparent;
      flex-direction: row;
      padding: 0;
      justify-content: center;
      gap: 1.5rem;

      li:last-of-type {
        position: static;
        width: auto;
        justify-content: flex-start;
        gap: 1.5rem;
      }

      a {
        font-size: 1.1rem;
        width: auto;
        color: white;

        &::after {
          content: none; /* Geen pijltjes op desktop */
        }
      }
    }
  }
}
